*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}
body{
    font-family: sans-serif;
    line-height: 1.7;
    color: white;
    background: #1f2641;
}
nav{
    /* background-color: red; */
    width: 100vw;
    height: 4rem;
    /* position: fixed;
    top: 0;
    z-index: 11; */
}
.container{
    width:80% ;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-around;
    justify-content: space-between; */
    /* margin-top: 10px; */
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.container h4{
    font-size: 1.7rem;
    color: aliceblue;
    font-weight: 700;
    line-height: 1.2;
}
 .nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    
    
}
.nav-menu a{
    font-size: 0.9rem;
    color: aliceblue;
    transition: all 400ms ease;
    font-size: larger;
}
.nav-menu a:hover{
    color: #424890;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background:white ;
    color:black ;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition:  all 400ms ease;
}
.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.btn-primary{
    background: #f75842;
    color: white;
}

/* header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    /* height: 70vh; */
    /* margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto; */

/* .header-left,
.header-right{
    flex-basis: 50%;
}
.header-left{
    padding: 50px 0;
} */
  
     */

.header-left h1{
    font-size: 2.4rem;
    line-height: 1.2;
}
 /* .header-container{ */
    /* display: flex; */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* align-items: center;
    gap: 5rem;
    height: 100%; */

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    margin-bottom: 5rem;
    height: 70vh;
}
.header-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    max-width: 1600px;
    margin: auto;
}
.header-left{
    padding-left:150px ;
    margin-top: -100px;
   
}
.header-right-image{
    margin-top: -70px;
    margin-right: 25px;
    width: 90%;
}
.header-left p{
    margin: 1rem 0 2.4rem;
}
.categories{
    background: #2e3267;
    width: 100%;
    height: 600px;
    border-radius: 20px;
   
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories-container{
    padding:70px 90px ;
    display: flex;
    justify-content: space-around;
    /* gap: 4rem; */
}
.categories-left{
    margin-right: 4rem;
}
.categories-left p{
    margin: 1rem 0 3rem;
}
.categories-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.category{
    border-radius: 2rem;
    padding: 2rem;
    transition: all 400ms ease;
    background:#424890;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category:nth-child(2) .category-icon{
    background: #f75842;
}
.category:nth-child(3) .category-icon{
    background: #00bf8e;
}
.category:nth-child(4) .category-icon{
    background: #f7c94b;
}
.category:nth-child(5) .category-icon{
    background: #f75842;
}
.category-icon{
    background: #6c63ff;
    border-radius: 0.9rem;
    padding: 0.7rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}
.courses1{
    background:#424890;
    margin-top: 9rem;
    border-radius: 20px;
}
.courses{
    /* width: 100%; */
    /* background-color: #f75842; */
    margin-top: 9rem;
}
.container-courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: -170px;
    /* padding-left: 40px; */
    padding: 70px 90px;

}
.courses{
    background: #4c53bb;
    text-align: center;
    border: 1px solid transparent;
    transition: all 400ms ease;
    height: 600px;
    width: 390px;
    border-radius: 44px 0px 44px 0px;
    -moz-border-radius: 44px 0px 44px 0px;
    -webkit-border-radius: 44px 0px 44px 0px;
    border: 0px solid #000000;
    
}
.courses:hover{
    background: transparent;
    border-color:#000000 ;
}
.course-image img{
    padding-top: 4px;
    width: 380px;
    margin: auto;
    border-radius: 44px 0px 44px 0px;
    -moz-border-radius: 44px 0px 44px 0px;
    -webkit-border-radius: 44px 0px 44px 0px;
    border: 0px solid #000000;
}
.course-info{
    padding-top: 4px;
}
.course-info{
    padding: 2rem;

}
.course-info p{
    font-size: 0.9rem;
    margin: 1.2rem 0 2rem;

}
/* Frequently asked question */
.container-faqs{
    margin-top: -30px;
    padding: 70px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faqs{
    background:#2e3267 ;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    cursor: pointer;
    background: #6c63ff;
    /* height: fit-content; */
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq-icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p{
    margin-top: 10px;
    display: none;
}
.faq.open p{
    display: block;
}
/* Testimonails */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 90px;
}
.col{
    /* flex: 33.33%; */
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background-color: #424890;
    padding: 30px;
}
.testimonial img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 1rem solid #0a0d31;

}
.name{
    font-size: 20px;
    margin: 20px 0;
}
.stars{
    color: #6c63ff;
    margin-bottom: 20px;
}
/* footer */
footer{
    background:#2e3267 ;
    padding-top:5rem ;
    font-size: 0.9rem;
}
/* .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
} */
.container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    padding: 70px 90px;
}
.container-footer > div h4{
    margin-bottom: 1.2rem;
}
.footer-1 p{
    margin: 0rem 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer-social{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    
}
.footer-social li a i{
    color: white;
}
.footer-copyright{
    text-align: center;
    margin-top: 4rem;
    padding:1.2rem 0 ;
    border-top: 1px solid #424890;
}